.video-background{
    
    margin: 0;
    box-sizing: border-box;
    height: 600px;
    margin-top: 77px;
    width: 100%;
    position: relative;
    text-align: center;
    background-size: cover;
    padding: 0;
}
.background-image{
    width: 100%;
    object-fit: cover;
    height: 600px;
    position: absolute;
    left: 0;
}
.moto{   
    top: 100px;
    left: 105px;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 33px;
    color: white;
    position: absolute;
}
.name1{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 140px;
    left: 100px;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 600;  
}
.name2{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 240px;
    left: 100px; 
    font-weight: 600;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.hexagon{
    position: absolute;
    top: 370px;
    left: 105px;
    z-index: 2;
    width: 70px;  
    border-width: 10px;
    color: white;
    transform: rotate(90deg);
}
.hexagon:hover,
.arrow:hover{
    opacity: 0.8;
       
}
.arrow{
    position: absolute;
    top: 388px;
    left: 135px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}